$light-gray: #f4f7fa;
$white: #fff;
$slate-gray: #ddd;
$mid-gray: #e6edef;
$dark-gray: #495057;
$light-blue: #edf1f7;

$primary: #007bff; 
$secondary: #771a1a; 
$success: #28a745;  
$danger: #dc3545;   
$warning: #ffc107;  
$info: #17a2b8;     
$light: #f8f9fa;   
$dark: #212529;    
    