.stats-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    color: #fff;
  }
  
  
  .stat-card {
    width: calc(25% - 10px); 
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 5px; 
    padding: 15px;
    display: flex; 
    align-items: center; 
  }
  
  
  .stat-icon {
    font-size: clamp(2rem, 6vw, 3rem); 
    margin-right: 10px; 
    flex: 0 0 auto; 
  }
  
  .state-details {
    flex: 1; 
    text-align: center;
  }
 
  .stat-card-header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  
    h2 {
      margin: 0;
      font-size: clamp(1rem, 3vw, 1.3rem); 
    }
  }
  
  .stat-card-content {
    font-size: clamp(1rem, 3vw, 1.5rem); 
    text-align: center; 
  }
  
  
  @media only screen and (max-width: 768px) {
    .stat-card {
      width: calc(50% - 10px); 
    }
  }
  
  @media only screen and (max-width: 480px) {
    .stat-card {
      width: calc(100% - 10px);
    }
  }

  .card-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
  }
  
  .card-header {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
  }
  
  .card-image {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-content h3 {
    margin-top: 0; 
  }
  
  .card-footer {
    padding: 10px 20px;
    border-top: 1px solid #ddd;
    text-align: right; 
  }
  
  .card-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
  }
  
  /* Responsive adjustments (media queries) */
  @media only screen and (max-width: 768px) {
    .card-container {
      width: 90%; 
    }
  }
  
  @media only screen and (max-width: 480px) {
    .card-container {
      width: 100%;
    }
    .card-image {
      height: 150px;
    }
  }

  .chart-container {
    position: relative;
    width: 100%;
    height: 200%; /* Initial height */
  }
  
  canvas {
    width: 100% !important;
    height: 400px !important;
  }
  
  
  