<div class="stats-container">
    <div class="stat-card bg-danger">
        <div class="stat-icon">
            <i class="fas fa-eye stat-icon"></i>
        </div>
        <div class="state-details">
            <div class="stat-card-header">
                <h2>VISITS</h2>
            </div>
            <div class="stat-card-content">
                <span class="stat-number" data-target-number="914,001">914,001</span>
            </div>
        </div>
    </div>
    <div class="stat-card bg-warning">
        <div class="stat-icon">
            <i class="fas fa-redo stat-icon"></i>
        </div>
        <div class="state-details">
            <div class="stat-card-header">
                <h2>BOUNCE RATE</h2>
            </div>
            <div class="stat-card-content">
                <span class="stat-number" data-target-number="46.41%">46.41%</span>
            </div>
        </div>
    </div>
    <div class="stat-card bg-success">
        <div class="stat-icon">
            <i class="fas fa-chart-line stat-icon"></i>
        </div>
        <div class="state-details">
            <div class="stat-card-header">
                <h2>PAGEVIEWS</h2>
            </div>
            <div class="stat-card-content">
                <span class="stat-number" data-target-number="4,054,876">4,054,876</span>
            </div>
        </div>
    </div>
    <div class="stat-card bg-primary">
        <div class="stat-icon">
            <i class="fas fa-long-arrow-alt-up stat-icon"></i>
        </div>
        <div class="state-details">
            <div class="stat-card-header">
                <h2>GROWTH RATE</h2>
            </div>
            <div class="stat-card-content">
                <span class="stat-number" data-target-number="46.43%">46.43%</span>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-two">
        <div class="card-container">
            <div class="card-header">
                <h3>Line Chart</h3>
            </div>
            <div class="card-content">
                <!-- <app-pie-chart></app-pie-chart> -->
                <app-line-chart></app-line-chart>
            </div>
        </div>

    </div>
    <div class="col-two">
        <div class="card-container">
            <div class="card-header">
                <h3>Bar Graph</h3>
            </div>
            <div class="card-content">
                <app-bar-chart></app-bar-chart>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <div class="col-two">
        <div class="card-container">
            <div class="card-header">
                <h3>Data Table</h3>
            </div>
            <div class="card-content">
                <app-table></app-table>
            </div>
        </div>
    </div>

    <div class="col-two">
        <div class="card-container">
            <div class="card-header">
                <h3>Branch Locations</h3>
            </div>
            <div class="card-content">
                <app-map></app-map>
            </div>
        </div>
    </div>
</div>