<div class="row">
    <div class="col-three col-sm-three col-md-three col-lg-three col-xl-three py-1">
        <div class="card bg-danger ">
            <div class="card-body ">
                <div class="row text-white text-center">
                    <div class="col-three col-sm-three col-md-three col-lg-three col-xl-three text-center">
                        <i class="fas fa-chart-line icon"></i>
                    </div>
                    <div class="col-nine col-sm-nine col-md-nine col-lg-nine col-xl-nine">
                        <h2 class="h2 text-white">PAGEVIEWS</h2>
                        <span class="stat-number" data-target-number="4,054,876">4,054,876</span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-three col-sm-three col-md-three col-lg-three col-xl-three py-1 ">
        <div class="card bg-warning">
            <div class="card-body">
                <div class="row text-white text-center">
                    <div class="col-three col-sm-three col-md-three col-lg-three col-xl-three text-center">
                        <i class="fas fa-redo icon"></i>
                    </div>
                    <div class="col-nine col-sm-nine col-md-nine col-lg-nine col-xl-nine">
                        <h2 class="h2 text-white">BOUNCE RATE</h2>
                        <span class="stat-number" data-target-number="46.41%">46.41%</span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-three col-sm-three col-md-three col-lg-three col-xl-three py-1">
        <div class="card bg-success ">
            <div class="card-body">
                <div class="row text-white text-center">
                    <div class="col-three col-sm-three col-md-three col-lg-three col-xl-three text-center ">
                        <i class="fas fa-page4 icon"></i>
                    </div>
                    <div class="col-nine col-sm-nine col-md-nine col-lg-nine col-xl-nine">
                        <h2 class="h2 text-white">PAGEVIEWS</h2>
                        <span class="stat-number" data-target-number="4,054,876">4,054,876</span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-three col-sm-three col-md-three col-lg-three col-xl-three py-1 ">
        <div class="card bg-primary">
            <div class="card-body">
                <div class="row text-white text-center">
                    <div class="col-three col-sm-three col-md-three col-lg-three col-xl-three text-center">
                        <i class="fas fa-long-arrow-alt-up icon"></i>
                    </div>
                    <div class="col-nine col-sm-nine col-md-nine col-lg-nine col-xl-nine">
                        <h2 class="h2 text-white">GROWTH RATE</h2>
                        <span class="stat-number" data-target-number="46.43%">46.43%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-six pa-1">
        <div class="card">
            <div class="card-header">
                <h3>Line Chart</h3>
            </div>
            <div class="card-body">
                <!-- <app-pie-chart></app-pie-chart> -->
                <app-line-chart></app-line-chart>
            </div>
        </div>

    </div>
    <div class="col-six pa-1">
        <div class="card">
            <div class="card-header">
                <h3>Bar Graph</h3>
            </div>
            <div class="card-body">
                <app-bar-chart></app-bar-chart>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-six pa-1">
        <div class="card">
            <div class="card-header">
                <h3>Data Table</h3>
            </div>
            <div class="card-body">
                <app-table></app-table>
            </div>
        </div>
    </div>

    <div class="col-six pa-1">
        <div class="card">
            <div class="card-header">
                <h3>Branch Locations</h3>
            </div>
            <div class="card-body">
                <app-map></app-map>
            </div>
        </div>
    </div>
</div>