/* You can add global styles to this file, and also import other style files */


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import '~@angular/cdk/overlay-prebuilt.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    font-family: 'Roboto', sans-sarif;
    background: #f4f7fa;
}

.container{
    display: flex;
    width: 100%;
}

.col-two{
    width: 50%;
    padding: 10px;
    border: 1px solid #fff;
}

.col-triple{
    flex: 1 0 33.33%; 
    padding: 10px; 
    border: 1px solid #ddd; 
}

.col-fourth{
    flex: 1 0 25%;
  padding: 10px;
  border: 1px solid #ddd;
}

.card{
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-color: #fff;
    margin: 0 0 0 0;
    box-shadow: 0 .25rem .5rem #e6edef;
    color: #495057;
    

    .card-header{
        padding: 1rem 1.5rem;
        border-bottom: 1px solid #edf1f7;
        font-size: 1rem;
        font-weight: 600;
    }

    .card-body{
        padding: 1rem 1.5rem;
    }
}
// background color
.bg-red{
    background: #ea6c41 !important;
}

.bg-yellow{
    background: #e69a2a !important;
}

.bg-green{
    background: #469408 !important;
}

.bg-blue{
    background: #177ec1 !important;
}